fastapi
uvicorn
ollama
python-multipart
mediapipe==0.10.32
opencv-python-headless
numpy
jax
jaxlib
pytest
sqlalchemy
pydantic
python-dotenv
python-jose[cryptography]
pydantic-settings
pydantic[email]
supabase

# auth / hashing
passlib==1.7.4
bcrypt==4.2.1
passlib[argon2]